* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    font-family: 'Roboto';
}

:root {
    --font-size: 14px;
    --espacoInternoBtn: 6px 10px;
    --font-color-menu-nav:rgba(36, 59, 122);
    --font-color-menu-footer:rgb(255, 255, 255);
    --font-family-menu:"Open Sans", sans-serif;
}

body {
    min-height: 100vh;
    &::before {
        content:'';
        position:absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        background: linear-gradient(90deg,  rgba(2, 37, 70, 0.3), rgba(6, 66, 121, 0.3),  rgba(2, 37, 70, 0.3)) 50% 0 / 100% 50% no-repeat,
                linear-gradient(90deg, rgba(2, 37, 70, 0.3), rgba(193, 77, 38, 0.13), rgba(2, 37, 70, 0.3)) 50% 100% / 100% 50% no-repeat;
        z-index:-1;
        filter:blur(100px);
    }
 }


.layoutAdmin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    
    /* Estilizacao do menu lateral -- revisado  */
    .layoutSidenav_nav {
        background-color: rgba(29, 71, 144, 0.370);
        min-height: 90vh;
        border-radius: 0 5px 5px 0;
        position: relative;
        transition: .1s;
        width:60px;
        overflow:hidden;
        -webkit-transition:width .05s linear;
        transition:width .05s linear;
        transform: translateZ(0) scale(1,1);
        transition: .1s;
        transition: all ease-in;
        transition-duration: .1s;
        z-index:1000;

        &:hover, .layoutAdmin.layoutSidenav_nav.expanded {
            width:300px;
            overflow:visible;
            transition: all ease-in;
            transition-duration: .1s;
        }

        
        #navContainerGeral {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 90vh;
            justify-content: space-between;
            padding: 15px 0 ;
          
            .nav-logo {
                width: 100%;
                text-align: center;
                
                img {
                    margin: 0 auto;
                    width: 90%;
                    max-width: 7rem;
                    height: 90%;
                    max-height: 7rem;
                    border-radius: 100%;
                }
            }

            .sb-sidenav-menu {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 15px 2px;
                
                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;
                    
                    li {
                        position:relative;
                        display:block;
                        width:250px;
                        margin: 0;
                        
                        a {
                            color: var(--font-color-menu-nav);
                            font-family: var(--font-family-menu);
                            font-size: 15px;
                            
                            &:hover {
                                color:#FFFF;
                            }
                        }

                        .nav-link {
                            display: flex;
                            justify-content: flex-start;
                            align-items: start  ;
                            gap:1.3rem;      
                            position:relative;
                            font-family: arial;
                            font-size: 1.1rem;
                            transform:translateZ(0) scale(1,1);
                        
                            .nav-text {
                                padding: 2px;
                                position:relative;
                                display:table-cell;
                                vertical-align:middle;
                                width:190px;
                                font-family: 'Titillium Web', sans-serif;
                                text-align: start;
                            }
    
                            .fa-2x {
                                position: relative;
                                display: table-cell;
                                text-align: center;
                                vertical-align: middle;
                                font-size:1.4rem;
                            }
                        }
                    }

                }
            
                
                #collapseLayouts, #collapseLayoutsEmp {
                    margin: 0 auto;
                    padding: 0rem;
                    width: 70%;
                    
                    nav {
                        margin: 0 auto;
                        width: 100%;
                    }
                    a {
                        font-weight: bold;
                        color: rgba(36, 59, 122);

                        &:hover {
                            color:#FFFF;
                        }
                    }
                    
                    .fundo-nav-cadastros-gerais {
                        display:inline-block;
                        background-color: rgba(0, 46, 132, 0.116);
                        border-radius: 5px;
                    }
                }
            }
            
            .sb-sidenav-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.2rem 1rem;
                gap: 1.4rem;
                width: 100%;
                
                .small {
                    color:var(--font-color-menu-footer);
                    font-family: var(--font-family-menu);
                }    
            }
        }
    }
    
    /* estilizacao geral do conteudo */
    
    .layoutSidenav_content {
        width: 95%;
        min-height:500px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
        .mainConteudo {
            width: 100% ;
            height:90%;
            min-height:500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}


/* Estilo - COMEÇO / INDEX/EMPRESA */
.data-container {
    width:100%;
    height:100%;
    min-height: 500px;  
    
    .cardCorLista {
        border:none;
        max-height: 90vh;
        min-width: 200px;
        position: relative;
        width: auto;
        background-color: transparent;
        
        .card-header {
            background-color: rgba(29, 71, 144, 0.468);
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: start;
            border: none;  
            gap:1rem;
            
            h1 {
                font-size: 2.8rem;
                margin-top: 20px;
                color:#FFFF;
            }
            
            .pesquisar {
                display:flex;
                justify-content: center;
                align-items: center;
                gap:10px;
                
                .input-pesquisar {
                    background-color: rgba(209, 218, 237, 0.801);
                    border: none;
                    border-radius:5px;
                    padding: var(--espacoInternoBtn);
                }
                
                .btn-pesquisar {
                    background-color: rgba(209, 218, 237, 0.801);
                    border: none;
                    border-radius:5px;
                    padding: var(--espacoInternoBtn);
                }
                
                @media screen and (max-width:450px){
                    .input-pesquisar{
                        width:120px;
                    }
                }
            }
        }

     
        
        .cardHeaderAsociados{
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between ;
            padding: .8rem 2rem;
            background-color: rgba(29, 71, 144, 0.468);
            border-radius: 5px 5px 0px 0px;
            gap: 20px;
                           
            .listar-texto{
                display:inline;
            }

            @media (max-width: 600px) {

                a{
                    width:30px;
                    height:30px;
                }

                .listar-texto {
                    display: none; 
                }
                
                form {


                    button {
                        width:30px;
                        height:30px;
                    } 
                }

                h1{
                    font-size:1.3rem;
                }
            }         
            
        }

        .card-body {
            display: flex;
            background-color: rgba(255, 255, 255, 0.21) !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 15px;
            background-color: transparent;
            border: none;
            border-radius: 0px 0px 5px 5px;
            width:100%;
            overflow:auto;      
            
             #form-inputs {
                @media screen and (min-width:970px) {
                    display:flex;
                    flex-direction: column;
                }
            }
            
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 0 auto;

           

                th {
                    text-align: left;
                    min-width: 130px;
                    padding: .6rem .4rem;
                }

                td {
                    display: flex;
                    align-items: center;
                    min-width: 140px;
                    padding: .6rem .4rem;
                }
            }

            nav{
                padding-top:15px;
                div:nth-child(1){
                display:none;                
               }
                
            }

            form div {
                display:flex;
                flex-direction: column;
                overflow: auto;
                
                input{
                    background-color: rgba(255,255,255, 0.20);
                    border: 0.2px solid rgba(0, 0, 0, 0.300);
                    padding:0.5rem 0;
                    border-radius: 5px;
                    padding: var(--espacoInternoBtn);
                }
            }
            @media screen and (max-width: 736px) {
                form div{
                    padding: 20px 5%;
                    margin-left: auto;
                }

            }
        }
    }
}

.btnCadastrar {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    button  {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem ;
        background: rgba(38, 177, 35, 0.25);
        padding: 1rem 3.5rem;
        border-radius: 5px;
        font-weight: 600;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border: none;
        transition: linear .1s;
        
        &:hover  {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background: rgba(37, 177, 35, 0.314);
            transition: linear .1s;
        }
    }
    h5 {
        color:black;
    }
    
    svg {
        font-size: 1.5rem;
        color:black;
    }
}

.btnIcons {
    border:none;
    background: none;
    padding: 0px;
    
    svg {
        font-size: 1.2rem;
        color: black;
    }
}

.btn-apagar {
    border:none;
    background: none;
}

.os-container {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    background: none;

    background: none;

    .cardCorLista {
        
        .card-header {
            display:flex;
            flex-direction: row !important;
            background-color: transparent;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px 0 ;
    
            .abas{
                display: flex;
                align-items: center;
                flex-direction: row;
                width:270px;
                height:40px;
                background-color: rgba(29, 71, 144, 0.468);
                border-radius:5px  18px 0px 0px;
    
                    
                a {
                    color:black;
                    font-size: 1rem;
    
                    &:hover {
                        color:#FFFF;
                    }
                    &:first-child {
                        margin-left: 10px;
                    }
    
                    &:not(:last-child)::after {
                        margin: 20px;
                        content:"";
                        border-right: 1px solid black;
                        height:40%;
                    }
                }       
                
                .pesquisar {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    gap:10px;
                    
                    .input-pesquisar {
                        background-color: rgba(209, 218, 237, 0.801);
                        border: none;
                        border-radius:5px;
                        padding: var(--espacoInternoBtn);
                    }
                    
                    .btn-pesquisar {
                        background-color: rgba(209, 218, 237, 0.801);
                        border: none;
                        border-radius:5px;
                        padding: var(--espacoInternoBtn);
                    }
                    
                    @media screen and (max-width:450px){
                        .input-pesquisar{
                            width:120px;
                        }
                    }
                }
    
            }
    
            h1 {
                padding-top: 20px;
            }
    
            @media screen and (max-width:600px) {
                .abas{
                    width:230px;
                    height:40px;    
                        
                    a {
                        color:black;
                        font-size: .9rem;
        
                        &:hover {
                            color:#FFFF;
                        }
                        &:first-child {
                            margin-left: 8px;
                        }
        
                        &:not(:last-child)::after {
                            margin: 15px;
                            content:"";
                            border-right: 1px solid black;
                            height:40%;
                        }
                    }          
        
                }
            }
        }

        .pesquisar {
            display:flex;
            justify-content: center;
            align-items: center;
            gap:10px;
            
            .input-pesquisar {
                background-color: rgba(209, 218, 237, 0.801);
                border: none;
                border-radius:5px;
                padding: var(--espacoInternoBtn);
            }
            
            .btn-pesquisar {
                background-color: rgba(209, 218, 237, 0.801);
                border: none;
                border-radius:5px;
                padding: var(--espacoInternoBtn);
            }
            
            @media screen and (max-width:450px){
                .input-pesquisar{
                    width:120px;
                }
            }
        }
    }
    
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.21);
    padding: 1rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: none;
    transition: linear .1s;
    color:black;

} 

#timeline {
    height:100%;
    width:90%;
    background-color: rgba(255,255,255, 0.21);
}

/* Arrumando bug do editar */
@media screen and (max-width:600px){

    #marginEditar-os1{
        padding-top:350px;
    }

}

/*  Arrumando bug do editar de empresa */
@media screen and (max-width:440px){

    #marginEditar-empresa {
        padding-top:450px;
    }
}

/*  Arrumando bug do visualizar de empresa */
@media screen and (max-width:390px){

    #marginVisualizar-empresa{
        padding-top:350px;
    }
}