* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    font-family: 'Roboto';
}

:root {
    --font-size: 14px;
    --espacoInternoBtn: 6px 10px;
    --font-color-menu-nav:rgba(36, 59, 122);
    --font-color-menu-footer:rgb(255, 255, 255);
    --font-family-menu:"Open Sans", sans-serif;
    --cor-cinza-claro: rgb(255, 255, 255);
    --cor-azul-1:#2a7cb8;
    --cor-azul-1-hover:#2a7db8d1;
    --cor-border-line:rgba(0, 0, 0, 0.563);
    --cor-fundo:rgba(233, 233, 233, 0.293);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: relative;

    #sidebar {
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #ffffff;
        height: 100vh;
        min-width: 70px;
        border: 1px solid rgba(194, 193, 193, 0.74);
        border-radius: 0px 18px 18px 0px;
        transition: all .5s;
        z-index: 2;
        
        ul {
            padding-left: 0;
        }
        
    }

    #sidebar_content {
        padding: 12px 0 ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .nav-logo {
            width: 100%;
            text-align: center;
            
            img {
                margin: 0 auto;
                width: 80%;
                max-width: 5.2rem;
                height: 90%;
                max-height: 5.2rem;
                border-radius: 100%;
            }
        }

        #side_items {
            display: flex;
            flex-direction: column;
            gap: 8px;
            list-style: none;
            
            .side-item {
                border-radius: 8px;
                padding: 8px 5px;
                cursor: pointer;

                .nav-link{
                    padding: .2rem;
                }
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #0a0a0a;
                    
                    i {
                        display: flex;
                        align-items: center;
                        width: 40px;
                    }
                }
                
                &.active {
                    background-color: #4f46e5;
                    
                    a {
                        color: #e3e9f7;
                    }
                }
                
                &:hover:not(.active), #logout_btn:hover {
                    background-color: #e3e9f7;
                }
            }
        }
    }

    .sb-sidenav-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right:0.4rem;
        gap: .3rem;
        text-align: center;
        
        .small {
            color: black;
            flex-wrap: wrap;
            font-size: .7rem;
            font-family: var(--font-family-menu);
        }    
    }

    #collapseLayouts, #collapseLayoutsEmp {
        margin: 0 auto;
        padding: 0rem;
        width: 95%;

        nav {
            margin: 0 auto;
            width: 100%;
        }
        a {
            font-weight: bold;
            color: var(--cor-azul-1);

            &:hover {
                color: #0095ff;
            }
        }
        
        .fundo-nav-cadastros-gerais {
            display:inline-block;
            background-color: var(--cor-cinza-claro);
            border-radius: 5px;
        }
    }   
    
    #open_btn {
        position: absolute;
        top: 33px;
        right: -12px;
        background-color: #4f46e5;
        color: #e3e9f7;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        border: none;
        cursor: pointer;
        
        #open_btn_icon {
            transition: transform .3s ease;
        }
    }

    .item-description {
        width: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        transition: width .6s;
        height: 0px;
    }
    
    #sidebar.open-sidebar {
        min-width: 15%;
        
        #open_btn_icon {
            transform: rotate(180deg);
        }
        
        .item-description {
            width: 130px;
            height: auto;
        }
        
        .side-item a {
            justify-content: flex-start;
            gap: 14px;
        }
    }

    .layoutSidenav_content {
        width: 95%;
        min-height:500px;
        margin-left: 90px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        position: relative;
        
        .mainConteudo {
            width: 100% ;
            position: relative;
            min-height:500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

/* Estilo - COMEÇO / INDEX/EMPRESA */
.data-container {
    width:100%;
    overflow-y: auto;
    height:100%;
    min-height: 500px;  
    
    .cardCorLista {
        border:none;
        max-height: 90vh;
        min-width: 200px;
        position: relative;
        width: auto;
        background-color: var(--cor-cinza-claro);
        
        .card-header {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: none;  
            gap:1rem;
            box-shadow:0px 0px 15px 5px rgba(0, 0, 0, 0.105);
            background-color: var(--cor-azul-1);
            
            h1 {
                font-size: 2.8rem;
                /* margin-top: 20px; */
                color: #FFFF;
                text-align: center;
            }
            
            span{
                display:inline;
            }

            .btnCadastrar {
                button  {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .8rem ;
                    background: rgb(255, 255, 255);
                    padding: .8rem 1rem;
                    border-radius: 5px;
                    font-weight: 600;
                    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.358);
                    border: none;
                    transition: linear .1s;
                    
                    &:hover  {
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        background:white;
                        transition: linear .1s;
                    }
                    h5 {
                        color:black;
                        margin-bottom: 0 !important;
                    }
                    
                    svg {
                        font-size: 1.5rem;
                        color:black;
                    }
                }
                
            }

            form {
                .pesquisar {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    gap:10px;
                    border-radius: 5px;
                
                    
                    .input-pesquisar {
                        background-color: var(--cor-fundo);
                        border: none;
                        border-radius:5px;
                        padding: var(--espacoInternoBtn);
                    }
                    
                    .btn-pesquisar {
                        border-radius:5px;
                        padding: var(--espacoInternoBtn);
                        border: none;
                    }
                    
                }
            }
            
            @media (max-width: 800px) {

                a{
                    span, h5 {
                        font-size: 1rem;
                    }
                }

                .btnCadastrar {
                    button {
                        padding:  .8rem;
                        gap: .5rem;
                    }
                }
                h1{
                    font-size:1.3rem;
                }
            }        
            
            @media (max-width: 720px) {

                a, form, span{
                    flex-wrap: wrap;
                    span, h5 {
                        display: none; 
                    }

                    .btn, svg {
                        padding: .4rem;
                        font-size: 1rem;
                    }
                }

                .btnCadastrar {
                    button {
                        padding:  .5rem;
                        gap: .5rem;
                    }
                }
                h1{
                    font-size:1.3rem;
                }
            }        
            
        }
        @media (max-width: 580px) {

            .card-header {
                display: grid;
                grid-template-columns: minmax(auto-fill, 1fr);
            
                grid-template-areas: 
                    'nome cadastro'
                    'pesquisa pesquisa';
                
                h1 {
                    grid-area: nome;
                }


                .btnCadastrar {
                    button  {
                        grid-area: cadastro;
                    }
                    
                }
    
                form {
                    grid-area: pesquisa;
                }
            }
        }        
        
        .card-body {
            background-color: rgba(233, 233, 233, 0.293);
            padding: 20px 15px;
            border: none;
            border-radius: 0px 0px 5px 5px;
            width:100%;
            overflow:auto;      
            position: relative;
            
            
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 0 auto;
        

                th {
                    text-align: left;
                    min-width: 130px;
                    padding: .6rem .4rem;
                    
                }

                td {
                    display: flex;
                    align-items: center;
                    min-width: 140px;
                    padding: .6rem .4rem;

                    form { 
                        min-width: auto;
                    }
                    
                }
            }

            nav{
                padding-top:15px;
                div:nth-child(2){
                    display:none;                
                }
                
            }

            form {
                .BodyLayout{

                    display: grid; 
                    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            
                    gap: 20px;
                    padding: 20px;
                    border-radius: 5px;
                    margin: 0;
                    
                    width: 100%;
                }
                div {
                    overflow: auto;
                    
                    label {
                        text-align: left;
                        float: left;
                    }

                    input{
                        width: 100%  ;
                        border: 0.2px solid rgba(0, 0, 0, 0.300);
                        padding:0.5rem 0;
                        border-radius: 5px;
                        padding: var(--espacoInternoBtn);
                    }
                }

                @media screen and (max-width: 736px) {
                    form div{
                        padding: 20px 5%;
                        margin-left: auto;
                    }
                }
            }
        }
    }
}

.btnCadastrar {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    button  {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem ;
        background: rgb(242, 242, 242);
        padding: .8rem 2rem;
        border-radius: 5px;
        font-weight: 600;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.358);
        border: none;
        transition: linear .1s;
        
        &:hover  {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background:white;
            transition: linear .1s;
        }
        h5 {
            color:black;
            margin-bottom: 0 !important;
        }
        
        svg {
            font-size: 1.5rem;
            color:black;
        }
    }
    
}

.btnIcons {
    border:none;
    background: transparent;
    padding: 0px;
    
    svg {
        font-size: 1.2rem;
        color: black;
    }
}

.btn-apagar {
    border:none;
    background: none;
}

.row {
    margin: 0 !important;
}

.os-container {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    background: none;
    background: none;

    .card-header {
        display:flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0 ;
    

        .abas{
            display: flex;
            align-items: center;
            flex-direction: row;
            width:270px;
            height:40px;
            border-radius:5px  18px 0px 0px;

                
            a {
                color: black;
                font-size: 1rem;

                &:hover {
                    color: rgb(25, 28, 197);
                }
                &:first-child {
                    margin-left: 10px;
                }

                &:not(:last-child)::after {
                    margin: 20px;
                    content:"";
                    border-right: 1px solid black;
                    height:40%;
                }
            }       

        }

        h1 {
            padding-top: 20px;
        }

        @media screen and (max-width:600px) {
            .abas{
                width:230px;
                height:40px;    
                    
                a {
                    color: black;
                    font-size: .9rem;
    
                    &:hover {
                        color: black;
                    }
                    &:first-child {
                        margin-left: 8px;
                    }
    
                    &:not(:last-child)::after {
                        margin: 15px;
                        content:"";
                        border-right: 1px solid black;
                        height:40%;
                    }
                }          
    
            }
        }
    }

    .pesquisar {
        display:flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        
        .input-pesquisar {
            background-color: rgb(255, 255, 255);
            border: none;
            border-radius:5px;
            padding: var(--espacoInternoBtn);
        }
        
        .btn-pesquisar {
            background-color: rgb(248, 245, 245);
            border: none;
            border-radius:5px;
            padding: var(--espacoInternoBtn);
            margin-bottom: 30px;
        }
        
        @media screen and (max-width:450px){
            .input-pesquisar{
                width:120px;
            }
        }
    }
    .btnCadastrar-os{         
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    
        button  {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem ;
            background: var(--cor-azul-1);
            padding: 0.3rem 1.0rem;
            border-radius: 5px;
            font-weight: 600;
            box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.358);
            border: none;
            transition: linear .1s;
            
            &:hover  {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                background: var(--cor-azul-1-hover);
                transition: linear .1s;
            }
        }
        h5 {
            color:#FFFF;
        }
        
        svg {
            font-size: 1.5rem;
            color:#FFFF;
        }
    }
}

.osBody {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 20px;
    border: 1px solid rgba(139, 139, 139, 0.548);
    padding: 20px;
    border-radius: 5px;
    margin: 0;
}



.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    background: var(--cor-fundo);
    padding: 1rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: none;
    transition: linear .1s;
    color: black;

    span, svg {
        color:#FFFF;
    }

} 

#timeline {
    height:100%;
    width:90%;
    background-color: black;
}