* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    font-family: 'Roboto';
}

:root {
    --font-size: 14px;
    --espacoInternoBtn: 6px 10px;
    --font-color-menu-nav:rgba(36, 59, 122);
    --font-color-menu-footer:rgb(255, 255, 255);
    --font-family-menu:"Open Sans", sans-serif;
    --cor-cinza-claro: rgb(255, 255, 255);
    --cor-azul-1:#2a7cb8;
    --cor-azul-1-hover:#2a7db8d1;
    --cor-border-line:rgba(0, 0, 0, 0.563);
    --cor-fundo:rgba(233, 233, 233, 0.293);
}

body {
    min-height: 100vh;
}


.layoutAdmin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    
    /* Estilizacao do menu lateral -- revisado  */
    .layoutSidenav_nav {
        background-color: var(--cor-fundo);
        min-height: 90vh;
        border-radius: 0 5px 5px 0;
        position: relative;
        transition: .1s;
        width:60px;
        overflow:hidden;
        -webkit-transition:width .05s linear;
        transition:width .05s linear;
        transform: translateZ(0) scale(1,1);
        transition: .1s;
        transition: all ease-in;
        transition-duration: .1s;
        z-index:1000;
        box-shadow:0px 6px 15px 5px rgba(0, 0, 0, 0.171);

        &:hover, .layoutAdmin.layoutSidenav_nav.expanded {
            width:300px;
            overflow:visible;
            transition: all ease-in;
            transition-duration: .1s;
        }

        
        #navContainerGeral {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 90vh;
            justify-content: space-between;
            padding: 15px 0 ;
          
            .nav-logo {
                width: 100%;
                text-align: center;
                
                img {
                    margin: 0 auto;
                    width: 90%;
                    max-width: 7rem;
                    height: 90%;
                    max-height: 7rem;
                    border-radius: 100%;
                }
            }

            .sb-sidenav-menu {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 15px 2px;
                
                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;
                    
                    li {
                        position:relative;
                        display:block;
                        width:250px;
                        margin: 0;
                        
                        a {
                            color: #2a7cb8;
                            font-family: var(--font-family-menu);
                            font-size: 15px;
                            
                            &:hover {
                                color: #0095ff;
                            }
                        }

                        .nav-link {
                            display: flex;
                            justify-content: flex-start;
                            align-items: start  ;
                            gap:1.3rem;      
                            position:relative;
                            font-family: arial;
                            font-size: 1.1rem;
                            transform:translateZ(0) scale(1,1);
                        
                            .nav-text {
                                padding: 2px;
                                position:relative;
                                display:table-cell;
                                vertical-align:middle;
                                width:190px;
                                font-family: 'Titillium Web', sans-serif;
                                text-align: start;
                            }
    
                            .fa-2x {
                                position: relative;
                                display: table-cell;
                                text-align: center;
                                vertical-align: middle;
                                font-size:1.4rem;
                            }
                        }
                    }

                }
            
                
                #collapseLayouts, #collapseLayoutsEmp {
                    margin: 0 auto;
                    padding: 0rem;
                    width: 70%;
                    
                    nav {
                        margin: 0 auto;
                        width: 100%;
                    }
                    a {
                        font-weight: bold;
                        color: var(--cor-azul-1);

                        &:hover {
                            color: #0095ff;
                        }
                    }
                    
                    .fundo-nav-cadastros-gerais {
                        display:inline-block;
                        background-color: var(--cor-cinza-claro);
                        border-radius: 5px;
                    }
                }
            }
            
            .sb-sidenav-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.2rem 1rem;
                gap: 1.4rem;
                width: 100%;
                
                .small {
                    color: black;
                    font-family: var(--font-family-menu);
                }    
            }
        }
    }
    
    /* estilizacao geral do conteudo */
    
    .layoutSidenav_content {
        width: 95%;
        min-height:500px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
        .mainConteudo {
            width: 100% ;
            height:90%;
            min-height:500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}


/* Estilo - COMEÇO / INDEX/EMPRESA */
.data-container {
    width:100%;
    height:100%;
    min-height: 500px;  
    
    .cardCorLista {
        border:none;
        max-height: 90vh;
        min-width: 200px;
        position: relative;
        width: auto;
        background-color: var(--cor-cinza-claro);

        
        
        .card-header {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: none;  
            gap:1rem;
            box-shadow:0px 0px 15px 5px rgba(0, 0, 0, 0.105);
            background-color: var(--cor-azul-1);
            
            
            h1 {
                font-size: 2.8rem;
                margin-top: 20px;
                color: #FFFF;
                text-align: center;
            }
       
            .pesquisar {
                display:flex;
                justify-content: center;
                align-items: center;
                gap:10px;
    
                border-radius: 5px;
              
                
                .input-pesquisar {
                    background-color: var(--cor-fundo);
                    border: none;
                    border-radius:5px;
                    padding: var(--espacoInternoBtn);
                   
                }
                
                .btn-pesquisar {
                    border-radius:5px;
                    padding: var(--espacoInternoBtn);
                    border: none;
                }
                
                @media screen and (max-width:450px){
                    .input-pesquisar{
                        width:120px;
                    }
                }
            }
        }
        
        .cardHeaderAsociados{
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between ;
            padding: .8rem 2rem;
            background-color: var(--cor-azul-1);
            border-radius: 5px 5px 0px 0px;
            gap: 20px; 

            h2{
                color:#FFFF;
            }
            
            .listar-texto{
                display:inline;
            }

            @media (max-width: 600px) {

                a{
                    width:30px;
                    height:30px;
                }

                .listar-texto {
                    display: none; 
                }
                
                form {


                    button {
                        width:30px;
                        height:30px;
                    } 
                }

                h1{
                    font-size:1.3rem;
                }
            }         
            
        }

        .card-body {
            display: flex;
            background-color: rgba(233, 233, 233, 0.293);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 15px;
            border: none;
            border-radius: 0px 0px 5px 5px;
            width:100%;
            overflow:auto;      
            margin: auto;
            position: relative;
            
            
            #form-inputs {
                @media screen and (min-width:970px) {
                    display:flex;
                    flex-direction: column;
                }
            }
            
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 0 auto;
           

                th {
                    text-align: left;
                    min-width: 130px;
                    padding: .6rem .4rem;
                    
                }

                td {
                    display: flex;
                    align-items: center;
                    min-width: 140px;
                    padding: .6rem .4rem;
                }
            }

            nav{
                padding-top:15px;
                div:nth-child(2){
                    display:none;                
                }
                
            }

            form div {
                display:flex;
                flex-direction: column;
                overflow: auto;
                
                input{
                    border: 0.2px solid rgba(0, 0, 0, 0.300);
                    padding:0.5rem 0;
                    border-radius: 5px;
                    padding: var(--espacoInternoBtn);
                }
            }
            @media screen and (max-width: 736px) {
                form div{
                    padding: 20px 5%;
                    margin-left: auto;
                }

            }
        }
    }
}

.btnCadastrar {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    button  {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem ;
        background: rgb(242, 242, 242);
       
        padding: 1rem 3.5rem;
        border-radius: 5px;
        font-weight: 600;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.358);
        border: none;
        transition: linear .1s;
        
        &:hover  {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background:white;
            transition: linear .1s;
        }
    }
    h5 {
        color:black;
    }
    
    svg {
        font-size: 1.5rem;
        color:black;
    }
}

.btnIcons {
    border:none;
    background: transparent;
    padding: 0px;
    
    svg {
        font-size: 1.2rem;
        color: black;
    }
}

.btn-apagar {
    border:none;
    background: none;
}

.os-container {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    background: none;
    background: none;

    .cardCorLista {
        
        .card-header {
            display:flex;
            flex-direction: row !important;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px 0 ;
         
    
            .abas{
                display: flex;
                align-items: center;
                flex-direction: row;
                width:270px;
                height:40px;
                border-radius:5px  18px 0px 0px;
    
                    
                a {
                    color: black;
                    font-size: 1rem;
    
                    &:hover {
                        color: rgb(25, 28, 197);
                    }
                    &:first-child {
                        margin-left: 10px;
                    }
    
                    &:not(:last-child)::after {
                        margin: 20px;
                        content:"";
                        border-right: 1px solid black;
                        height:40%;
                    }
                }       
    
            }
    
            h1 {
                padding-top: 20px;
            }
    
            @media screen and (max-width:600px) {
                .abas{
                    width:230px;
                    height:40px;    
                        
                    a {
                        color: black;
                        font-size: .9rem;
        
                        &:hover {
                            color: black;
                        }
                        &:first-child {
                            margin-left: 8px;
                        }
        
                        &:not(:last-child)::after {
                            margin: 15px;
                            content:"";
                            border-right: 1px solid black;
                            height:40%;
                        }
                    }          
        
                }
            }
        }

        .pesquisar {
            display:flex;
            justify-content: center;
            align-items: center;
            gap:10px;
            
            .input-pesquisar {
                background-color: rgb(255, 255, 255);
                border: none;
                border-radius:5px;
                padding: var(--espacoInternoBtn);
            }
            
            .btn-pesquisar {
                background-color: rgb(248, 245, 245);
                border: none;
                border-radius:5px;
                padding: var(--espacoInternoBtn);
                margin-bottom: 30px;
            }
            
            @media screen and (max-width:450px){
                .input-pesquisar{
                    width:120px;
                }
            }
        }
    }

    .btnCadastrar-os{         
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    
        button  {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem ;
            background: var(--cor-azul-1);
            padding: 0.3rem 1.0rem;
            border-radius: 5px;
            font-weight: 600;
            box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.358);
            border: none;
            transition: linear .1s;
            
            &:hover  {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                background: var(--cor-azul-1-hover);
                transition: linear .1s;
            }
        }
        h5 {
            color:#FFFF;
        }
        
        svg {
            font-size: 1.5rem;
            color:#FFFF;
        }
    }
    
}



.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--cor-fundo);
    padding: 1rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: none;
    transition: linear .1s;
    color: black;

    span, svg {
        color:#FFFF;
    }

} 

#timeline {
    height:100%;
    width:90%;
    background-color: black;
}

#marginEditar-empresa {
    margin-top:150px;
    
}

#marginVisualizar-empresa{
    padding-top:150px;
}

#marginEditar-empresa {
    margin-top:150px;
}

#marginVisualizar-empresa{
    padding-top:150px;
}

/* Arrumando bug do editar */
@media screen and (max-width:600px){

    #marginEditar-os1{
        padding-top:350px;
    }

}

/*  Arrumando bug do editar de empresa */
@media screen and (max-width:440px){

    #marginEditar-empresa {
        padding-top:450px;
    }
}

/*  Arrumando bug do visualizar de empresa */
@media screen and (max-width:390px){

    #marginVisualizar-empresa{
        padding-top:350px;
    }
}