* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   /* border: 1px solid red; */
}

body {
   min-height: 100vh;
}


form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   .alerta{
      position:absolute;
      top:2rem;
      padding:0.1rem 2rem;
      background-color: rgba(222, 16, 16, 0.478);
      box-shadow:0px 0px 10px 3px rgba(0,0,0,0.28);

      ul {
         list-style: none;
         position: relative;
         top:0.5rem;
         
         li {
            color:#0a0a0a;
            font-weight: 500;
         }
      }
   }
   
   .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: arial;
      
      .login-background {
         width:42%;
         max-width: 600px;
         min-width: 280px;
         height:70%;
         max-height: 650px;
         background-color: rgba(152,150,161,15%);
         box-shadow:0px 0px 10px 3px rgba(0,0,0,0.28);
         display:flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         
         .logo {
            display:flex;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;
            /* margin: 10px auto; */
            color:#000000;
            position: relative;
            flex-direction: column;
            h1 {
               color:#000000;
            }
            
            img {
               height: 50px;
            }
         }

         .dados-usuario {
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 230px;
            padding: 6% 0 10% 0;
            gap:20px;
            color:#000000;
         
            label {
               width: 70%;
               min-width: 200px;
            }
            
            .input-dado {
               width: 200px;
               height: 45px;
               padding: 5px 10px;
               border-radius:5px;
               border:0.2px solid rgba(0, 0, 0, 0.544);
               background-color: rgba(255,255,255,21%);
            }
            
            &:nth-child(3){
               padding-bottom:0.2rem;
            }
            
         }
         
         .botoes {
            display: flex;
            justify-content: center;
            align-items: center;
            gap:0.5rem;
            width: 60%;
            min-width: 230px;
            
            .botao-entrar{
               width: 100%;
               width: 200px;
               height: 45px;
               padding: 5px 10px;
               cursor:pointer;
               border-radius:5px;
               border:0.2px solid rgba(0, 0, 0, 0.544);
               background-color: rgba(255,255,255,21%);
               font-weight: 700;
               font-size: 20px;
            }
            
         }
      }
   }
}

